.LeftMenu{
    text-align: left;
    background-color:transparent;
      height: -webkit-fill-available;
      width: 35%;
      position: fixed;
      top: 0;
      left: 0;
      color: black;
      background-image: url(./sky.jpeg);
  }
  
  .MenuHeader{
  
  }